{{- define "main" }}

<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>Archivo {{ .Params.year }}</h1>
</header>

{{- $year := .Params.year }}
{{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

{{- range $pages.ByDate.Reverse }}
  {{- if eq .Date.Year $year }}

  {{- $page := . }}
  {{- $class := "post-entry" }}

  {{- if .Params.externalURL }}
    {{- $class = printf "%s external-entry" $class }}
  {{- end }}

  <article class="{{ $class }}">

    {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

    <header class="entry-header">
      <h2 class="entry-hint-parent">
        {{ .Title }}
      </h2>
    </header>

    {{- with .Params.externalURL }}
      {{- with $page.Params.medio }}
      <div class="external-source">
        En los medios: <strong>{{ . }}</strong>
      </div>
      {{- end }}
    {{- end }}

    {{- if ne (.Param "hideSummary") true }}
    <div class="entry-content">
      <p>
        {{ .Summary | plainify | htmlUnescape }}
        {{- if .Truncated }}...{{ end }}
      </p>
    </div>
    {{- end }}

    {{- if not (.Param "hideMeta") }}
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
    </footer>
    {{- end }}

    <a class="entry-link"
       aria-label="Entrada: {{ .Title | plainify }}"
       href="{{ .Permalink }}"></a>

  </article>

  {{- end }}
{{- end }}

{{- end }}
